body,
html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#root,
.content-wrap {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
}

.content-wrap {
  transition: 0.6s;
  background-color: #3e7dd2;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

video {
  display: none;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  background-size: cover;
}

.App {
  height: 350px;
  text-align: center;
  font-size: 3.8rem;
  color: #dddddd;
  text-shadow: 2px 2px 3px #555;
  z-index: 100;
}

.Tabs {
  text-align: center;
}

.tab {
  cursor: pointer;
  margin: 0 25px;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.2s;
  font-weight: bold;
  display: inline-block;
}

.tab:hover {
  background-color: rgba(150, 150, 150, 0.4);
}

.tab-active {
  background-color: rgba(221, 221, 221, 0.4);
  border: 1px solid #333;
  transform: scale(1.1);
  color: #fff;
}

.tab-active:hover {
  background-color: rgba(221, 221, 221, 0.4);
}

.section-title {
  font-size: 2.5rem;
}

.margin-top {
  margin-top: 2rem;
}

.margin-right {
  margin-right: 0.5rem;
}

.clock-days,
.clock-hours,
.clock-minutes,
.clock-seconds {
  display: inline;
  margin: 10px;
}

input {
  background-color: rgba(221, 221, 221, 0.7) !important;
  border: 1px solid #333 !important;
  color: #222 !important;
}

button {
  font-size: 1.5rem !important;
  border: 1px solid #333 !important;
}

.Deadline-input {
  height: 4.5rem;
  font-size: 2rem !important;
  padding-left: 1.5rem !important;
}

.timer-input {
  width: 5.5rem;
  text-align: center;
  font-size: 3.7rem !important;
  display: inline-block !important;
  border-radius: 3px;
  padding: 5px 0;
}

::placeholder {
  color: rgb(107, 107, 107) !important;
  opacity: 1 !important;
  text-shadow: 2px 2px 3px #ddd;
}

::-moz-placeholder {
  color: rgb(107, 107, 107) !important;
  opacity: 1 !important;
  text-shadow: 2px 2px 3px #ddd;
}

:-moz-placeholder {
  color: rgb(107, 107, 107) !important;
  opacity: 1 !important;
  text-shadow: 2px 2px 3px #ddd;
}

:-ms-input-placeholder {
  color: rgb(107, 107, 107) !important;
  text-shadow: 2px 2px 3px #ddd;
}

::-ms-input-placeholder {
  color: rgb(107, 107, 107) !important;
  text-shadow: 2px 2px 3px #ddd;
}

.timer-clock {
  /* width: 250px;
  height: 250px; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timer-clock-content {
  z-index: 10;
}

.timer-clock-text {
  height: 250px;
  position: relative;
}

.clock-text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer-cancel-btn {
  display: block !important;
  margin: auto;
  /* color: rgb(212, 0, 0); */
  padding: 8px 35px !important;
  /* background-color: transparent; */
  /* border: 2px solid rgb(212, 0, 0) !important; */
  color: rgb(212, 0, 0);
  position: absolute;
  bottom: -25%;
}

/* .timer-cancel-btn:hover {
  color: white;
} */

.timer-start-button {
  padding: 10px 90px !important;
  color: green;
  display: block;
  font-size: 1.8rem;
  margin: 4rem auto 0 auto;
}

.progressBar {
  width: 250px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.stopwatch-time {
  font-size: 3.7rem !important;
}

.stopwatch-start,
.stopwatch-reset {
  padding: 8px 35px !important;
}

/*On medium screens*/
@media only screen and (min-width: 570px) and (max-width: 768px) {
  .App {
    font-size: 2rem;
  }

  .tab {
    margin: 0 2px;
  }
}

/*On small screens*/
@media only screen and (max-width: 570px) {
  #root,
  .content-wrap {
    align-items: start;
  }

  .content-wrap {
    padding-top: 30px;
  }

  .App {
    font-size: 1.7rem;
  }

  button {
    font-size: 1.5rem !important;
  }

  .tab {
    margin: 0 5px;
  }

  .section-title {
    font-size: 2.2rem;
  }

  .clock {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .Deadline-input {
    height: 3.4rem;
    font-size: 1.5rem !important;
    max-width: 70%;
  }

  .timer-input {
    width: 4.5rem !important;
  }

  .timer-input,
  .timer-clock-text {
    font-size: 2.6rem !important;
  }
}
