body, html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#root, .content-wrap {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
}

.content-wrap {
  transition: .6s;
  background: url(images/background.jpg);
  background-size: cover;
  overflow: hidden;
}

.App {
  text-align: center;
  font-size: 3.5rem;
  color: #212121;
  z-index: 100;
}

.section-title {
  font-size: 5rem;
}

.clock-days,
.clock-hours,
.clock-minutes,
.clock-seconds {
  display: inline;
  margin: 10px;
}

input {
  background-color: rgba(221, 221, 221, 0.7) !important;
  border: 2px solid #DDD !important;
}


.Deadline-input {
  font-size: 25px;
  margin: 5px;
}

.Tabs {
  display: flex;
  justify-content: space-evenly;
}

.tab {
  cursor: pointer;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 5px;
  transition: all .2s;
}

.tab:hover {
  background-color: rgba(150, 150, 150, .4);
}

.tab-active {
  background-color: rgba(221, 221, 221, 0.9);
  transform: scale(1.1);
}

.tab-active:hover {
  background-color: rgba(221, 221, 221, 0.9);
}

.countdown-bg {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0; right: 0; left: 0;
  background: inherit;
  overflow: hidden;
  transition: inherit;
  transform: scale(1.3) translateX(70px);
}

.timer-bg {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0; right: 0; left: 0;
  background: inherit;
  overflow: hidden;
  transition: inherit;
  transform: scale(1.3) translateX(0px);
}

.stopwatch-bg {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0; right: 0; left: 0;
  background: inherit;
  overflow: hidden;
  transition: inherit;
  transform: scale(1.3) translateX(-70px);
}

/*On small screens*/
@media only screen and (max-width: 768px) {
  .App {
    font-size: 2rem;
  }

  .section-title {
    font-size: 3.5rem;
  }

  .countdown-bg {
    transform: scale(1.35) translateX(50px);
  }

  .timer-bg {
    transform: scale(1.35) translateX(0px);
  }

  .stopwatch-bg {
    transform: scale(1.35) translateX(-50px);
  }

}