body,
html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
}

button {
  background-color: #3e7dd2;
  color: #fff;
  font-weight: 600;
  border: 0;
  border-radius: 3px !important;
  transition: all 0.2s;
}

button:hover {
  box-shadow: 0 1px 3px 1px rgb(129, 129, 129);
}

input[type="text"] {
  border: 1px solid #888 !important;
  border-radius: 4px;
  color: #111 !important;
  transition: all 0.2s;
  box-sizing: border-box;
}

input[type="text"]:hover {
  border: 1px solid #3d3d3d !important;
}

input[type="text"]:focus {
  border: 2px solid #3d3d3d !important;
}

.container {
  padding: 0 !important;
  position: relative;
}

#root,
.content-wrap {
  width: inherit;
  height: inherit;
}

.content-wrap {
  transition: 0.6s;
  overflow: hidden;
  position: relative;
}

.App {
  height: 350px;
  text-align: center;
  color: #dddddd;
  z-index: 100;
}

.tabs {
  position: relative;
  padding-top: 2rem;
  background-color: #3e7dd2;
  box-shadow: 0px 0 5px 1px rgb(129, 129, 129);
}

.tabs-inner {
  width: inherit;
}

.indicator {
  width: 33.33%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  transition: left cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}

.indicator.Timer {
  left: 33.33%;
}

.indicator.Countdown {
  left: 0;
}

.indicator.Stopwatch {
  left: 66.66%;
}

.tab {
  width: 33.33%;
  display: inline-block;
  height: 5rem;
  line-height: 5rem;
  font-weight: 600;
  font-size: 1.9rem;
  color: rgba(250, 250, 250, 0.5);
  transition: all 0.2s;
  cursor: pointer;
}

.tab:hover {
  background-color: rgba(81, 138, 214, 0.5);
}

.tab-active {
  color: #fff;
}

.tab-active:hover {
  background-color: rgba(81, 138, 214, 0.5);
}

.content {
  color: #222;
  font-size: 1.5rem;
}

.countdown-header {
  font-size: 1.4em;
}

.countdown-date {
  font-size: 1.5em;
}

.margin-top {
  margin-top: 2rem;
}

.margin-right {
  margin-right: 0.5rem;
}

/* .clock {
  font-size: 1.6em;
} */
.clock {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 2rem;
}

.clock-days,
.clock-hours,
.clock-minutes,
.clock-seconds {
  display: inline;
  margin: 10px;
}

.deadline-input {
  height: 2em;
  font-size: 1.5em !important;
  padding-left: 1.5rem !important;
  margin-right: 3px;
}

.clock-btn {
  font-size: 1.2em !important;
  padding-left: 1em;
  padding-right: 1em;
  /* background-color: transparent;
  color: #3e7dd2; */
}

.timer-input {
  width: 5.5rem;
  text-align: center;
  font-size: 3.7rem !important;
  display: inline-block !important;
  border-radius: 3px;
  padding: 5px 0;
}

.timer-input,
.timer-clock-text {
  font-size: 3.7rem !important;
}

::placeholder {
  color: rgb(107, 107, 107) !important;
  opacity: 1 !important;
}

::-moz-placeholder {
  color: rgb(107, 107, 107) !important;
  opacity: 1 !important;
}

:-moz-placeholder {
  color: rgb(107, 107, 107) !important;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: rgb(107, 107, 107) !important;
}

::-ms-input-placeholder {
  color: rgb(107, 107, 107) !important;
}

.timer-clock {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timer-clock-content {
  z-index: 10;
}

.timer-clock-text {
  height: 250px;
  position: relative;
}

.clock-text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer-cancel-btn {
  display: block !important;
  margin: auto;
  padding: 8px 35px !important;
  position: absolute;
  bottom: -25%;
}

.timer-start-button {
  padding: 10px 90px !important;
  display: block;
  font-size: 1.8rem;
  margin: 4rem auto 0 auto;
}

.progressBar {
  width: 250px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.stopwatch-time {
  font-size: 3.7rem !important;
}

.stopwatch button {
  width: 140px;
}

.stopwatch-start,
.stopwatch-reset {
  padding: 8px 35px !important;
}

.stopwatch-reset,
.timer-cancel-btn,
.clock-btn {
  background-color: transparent;
  color: #3e7dd2;
  border: 1px solid #3e7dd2;
}

.stopwatch-reset:hover,
.timer-cancel-btn:hover,
.clock-btn:hover {
  background-color: rgba(62, 125, 210, 0.1);
  box-shadow: none;
}

.lap-list {
  padding: 0 1rem 1rem 0;
  max-height: 270px;
  overflow: auto;
}

.lap {
  list-style-type: none;
  text-align: left;
}

.lap > * {
  display: inline-block;
  width: 33.3%;
  text-align: left;
}

.lap-diff {
  font-size: 0.9rem;
  text-align: right;
}

/*On medium screens*/
@media only screen and (min-width: 570px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .tab {
    font-size: 1.7rem;
  }
}

/*On small screens*/
@media only screen and (max-width: 570px) {
  html {
    font-size: 10px;
  }

  .tabs {
    padding-top: 1rem;
  }

  .tab {
    font-size: 1.3rem;
  }

  button {
    font-size: 1.5rem !important;
  }

  .section-title {
    font-size: 1.5em;
  }

  .deadline-input {
    height: 3.4rem;
    font-size: 1.7rem !important;
    max-width: 100%;
    width: 17em;
  }

  .timer-input {
    width: 5.5rem !important;
    padding: 10px 0;
  }

  .timer-input,
  .timer-clock-text {
    font-size: 3.6rem !important;
  }

  .lap-list {
    max-height: 170px;
  }
}

@media only screen and (max-height: 400px) {
  html,
  body {
    height: 150vh;
    overflow: auto;
  }

  .tabs {
    padding-top: 1rem;
  }
}
